<div class="wrapper">
  <section class="sidebar">
    <app-admin-sidebar></app-admin-sidebar>
  </section>

  <!-- Header -->

  <app-admin-header class="header" [breadcrumbs]="breadcrumbs"
                    showLanguageSelection="true" (languageSelected)="selectedLanguage = $event"></app-admin-header>

  <app-admin-alert *ngIf="showAlert" class="header mt-2"
                   [alertType]="alertType" [alertTimeout]="5" [alertMessage]="alertMessage"></app-admin-alert>

  <!-- -->

  <section *ngIf="exposition" class="content-left ml-3 mr-2">

    <!-- Section Expositoin Forms-->
    <section class="mt-2">
      <div class="card">
        <div class="card-body">

          <label for="name">Titel</label>
          <input id="name" class="form-control" type="text"
                 [(ngModel)]="exposition.getContent(selectedLanguage).name">

          <div class="mb-2">
            <label class="mr-2" for="active">Aktiv</label>
            <input id="active" type="checkbox" [(ngModel)]="exposition.active">
          </div>

          <label for="info">Beschreibung</label>
          <textarea id="info" class="form-control mb-2" rows="7" [placeholder]="placeholder"
                    [(ngModel)]="exposition.getContent(selectedLanguage).info"></textarea>

          <label for="note">Notizen</label>
          <textarea id="note" class="form-control mb-2" rows="7" [(ngModel)]="exposition.note"></textarea>
          <div class="form-row mb-2">
            <div class="col-6">
              <button (click)="updateExposition()" class="btn btn-success w-100" aria-label="Save exposition">
                Speichern
              </button>
            </div>
            <div class="col-6">
              <button (click)="deleteExposition()" class="btn btn-danger w-100" aria-label="Delete exposition">
                Löschen
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section External Links -->
    <section class="mt-2">
      <div class="card">
        <div class="card-body">
          <div class="form-row">
            <div class="col-lg-6">
              <button class="btn btn-primary w-100" [routerLink]="'/admin/statistics/exposition/'+ exposition._id"
                      aria-label="Show exposition statistics">
                Statistik anzeigen
              </button>
            </div>
            <div class="col-lg-6">
              <button (click)="openQRCode()" class="btn btn-primary w-100 mt-lg-0 mt-2 text-max" placement="top"
                      aria-label="Show exposition QR code">
                QR-Plakette
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section *ngIf="exposition" class="content-right ml-3 mr-2">
    <!-- Section Logo-->
    <section class="mt-2">
      <app-admin-box-card descHeader="Logo">
        <div header>
          <fa-icon aria-label="Upload logo" [hidden]="exposition.logo" (click)="uploadLogoInput.click()" class="fa-lg" icon="plus-circle">
          </fa-icon>
          <form class="d-none">
            <input #uploadLogoInput (change)="onLogoChanged($event)" type="file" name="file">
          </form>
          <fa-icon aria-label="Delete logo" [hidden]="!exposition.logo" class="fa-lg" icon="minus-circle"
                   (click)="deleteLogo()"></fa-icon>
        </div>
        <div body>
          <img *ngIf="exposition.logo" (click)="openImageBigView()"
               [src]="'/uploads/' + exposition._id + '/' + exposition.logo.filename"
               [alt]="exposition.logo.alternativeText"/>
        </div>
      </app-admin-box-card>
    </section>
    <!-- Section Exhibits -->
    <section class="mt-2">
      <app-admin-box-card descHeader="Exponate">
        <div header>
          <a routerLink="/admin/exhibit/new/{{exposition._id}}" routerLinkActive="active">
            <fa-icon aria-label="Add exhibit" class="fa-lg" icon="plus-circle"></fa-icon>
          </a>
        </div>
        <div body *ngFor="let exhibit of exhibits">
          <app-common-exhibit-card [selectedLanguage]="selectedLanguage" [exhibit]="exhibit" [width]="'125px'" [height]="'150px'"
                                   [link]="'/admin/exhibit/' + exhibit._id"></app-common-exhibit-card>
        </div>
      </app-admin-box-card>
    </section>
  </section>
</div>

<app-common-cookie-banner></app-common-cookie-banner>
